.container {
	width: 200px;
	height: 200px;
	transition: 100ms all ease;
}

#toggle {
	height: 50px;
	width: 50px;
	border-style: solid;
	box-sizing: border-box;
	border-width: 25px 15px 25px 35px;
	border-color: transparent transparent transparent black;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

 .container:hover #toggle {
	display: block;
}

body:hover {
	background: #dddddd;
}

