.container {
	width: 200px;
	height: 200px;
	transition: 100ms all ease;
}

#help {
	width: 50px;
}

.button {
	width: 50px;
	height: 50px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	border: none;
	outline: none;
}

body:hover .button {
	display: block;
}

body:hover {
	background: #dddddd;
}

